Add a signature message size parameter to RSAVerify

Hi,
RSAPad assumes a signed message with SHA512 and adhering to RFC 8017 Section 9.2 (hence 664 bits long). No other part of the RSA implementation is signature/digest algorithm-specific, so in order to make this more general-purpose, we could add `base_len` as a template parameter to `RSAPad` and `RSAVerify65537`. For example, I'm using it with SHA256 which makes base_len 408 and it works flawlessly. If you agree, I could submit a PR. 